<label for="username">Username</label><br>
<input type="text" [(ngModel)]="username">
<p>username:{{username}}</p>

<!-- Solution 1-->
<!-- <button class="btn btn-primary"  [disabled]="setDisabledBtn()" (click)="resetUsername()">Reset the username</button> -->

<!-- Another Solution -->
<button [disabled]="username === '' " (click)="username= '' ">Reset username</button>

<br><br>
<div>
    <button (click)="showDetailes($event)">Display Details</button>
    <p *ngIf="show">Secret password =tuna</p>
    <div *ngFor="let logItem of log ; let i =index" (click)="showAlert(logItem)">{{logItem.MyDate }} {{i}}</div>
</div>