.container {
  width: 20%;
  padding: 1rem;
  margin: 2rem auto;
  background-color: #0f0e17;
  color: #fffffe;
}
.centered-text {
  text-align: center;
}

.underlined {
  border-bottom: 10px solid #f25f4c;
}

.warning {
  color: red;
  font-weight: bold;
  background-color: #a7a9be;
}

.big {
  font-size: 1.2rem;
}
